<h2>Add New Post</h2>

<p> We will add new post here 

<form action="/new" method="POST" role="form"> <!Atrebut! Podkluczenie formy>
   
   <div class="form-floating">                       <!nadpis w okne>
   <textarea name="content" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
   <label for="floatingTextarea2">Comments</label> <!podpis pod blokom>

   </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

</p>